[core]
  excludesFile = ~/.gitignore
  editor = nvim
  pager = "diff-so-fancy | less --tabs=4 -RF"

[interactive]
  diffFilter = "diff-so-fancy --patch"

[color]
  ui = true

[commit]
  gpgSign = true

[gpg]
  program = gpg

[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig.local
